name: Deploy Project
on: 
 push:
   branches:
    - main
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
          - name: Get code
            uses: actions/checkout@v6
          - name: Install dependencies
            run:  npm ci
          - name: Run lint
            run:  npm run lint
    test:
        needs: lint
        runs-on: ubuntu-latest
        steps:
          - name: Get code
            uses: actions/checkout@v6
          - name: Install dependencies
            run:  npm ci
          - name: Run test
            run:  npm test
    build:
        needs: test
        runs-on: ubuntu-latest
        outputs:
          script-file: ${{steps.publish.outputs.script-file}}
        steps:
          - name: Get code
            uses: actions/checkout@v6
          - name: Install dependencies
            run:  npm ci
          - name: build project
            run:  npm run build

          - name: Publish JS filename
            id: publish
            run:  find dist/assets/*.js -type f -execdir echo 'script-file={}' >> $GITHUB_OUTPUT ';'

          - name: Upload artifacts
            uses: actions/upload-artifact@v4
            with:
              name: dist-files
              path: dist

    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
          - name: Get build artifacts
            uses: actions/download-artifact@v5
            with:
              name: dist-files
          - name: Output contents
            run:  ls
          - name: Output filename
            run: echo "${{ needs.build.outputs.script-file}}"
          - name: Echo message
            run: echo "Deploy successfully"
      


     




