name: Deploy Project
on: [push, workflow_dispatch]
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
          - name: Get code
            uses: actions/checkout@v6
          - name: Install dependencies
            run:  npm ci
          - name: Run lint
            run:  npm run lint
    test:
        needs: lint
        runs-on: ubuntu-latest
        steps:
          - name: Get code
            uses: actions/checkout@v6
          - name: Install dependencies
            run:  npm ci
          - name: Run test
            run:  npm test



